openapi: 3.0.3
info:
  title: Tenfold Analytics Users API
  version: '2.0'
  description: Tenfold (a LivePerson company) is a computer-telephony integration (CTI) platform — the "Customer Experience Cloud" — that connects phone systems and contact-center platforms with CRM and support systems. The REST API lets you originate and query calls, control call recording, manage users and organizations, read and write CRM records, pull call analytics and transcripts, and manage contact lists. This specification was generated by the API Evangelist enrichment pipeline from the public documented endpoint reference at https://apidocs.tenfold.com/ — paths, methods, and summaries are transcribed from the docs; request/response schemas are intentionally generic (the provider does not publish an OpenAPI document).
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
- url: https://api.tenfold.com
  description: Production
- url: https://api-canary.tenfold.com
  description: Beta / canary (subject to change without backward compatibility)
security:
- bearerJWT: []
- oauth2Password: []
tags:
- name: Users
  description: Users, current-user profile, and settings
paths:
  /api/v1/users:
    get:
      tags:
      - Users
      operationId: listUsersV1
      summary: List organization users (v1)
      responses:
        '200':
          description: Users
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/users:
    get:
      tags:
      - Users
      operationId: listUsers
      summary: List users in the current organization (v2)
      responses:
        '200':
          description: Users
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/users/{userId}:
    get:
      tags:
      - Users
      operationId: getUser
      summary: Get a specific user account
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/users/me:
    get:
      tags:
      - Users
      operationId: getCurrentUser
      summary: Fetch own user profile
      responses:
        '200':
          description: Current user
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/users/me/settings:
    get:
      tags:
      - Users
      operationId: getUserSettings
      summary: Retrieve current-user settings
      responses:
        '200':
          description: Settings
    put:
      tags:
      - Users
      operationId: updateUserSettings
      summary: Update current-user settings
      responses:
        '200':
          description: Settings updated
  /v2/users/me/profile-picture:
    post:
      tags:
      - Users
      operationId: uploadProfilePicture
      summary: Upload a profile photo
      responses:
        '200':
          description: Uploaded
    delete:
      tags:
      - Users
      operationId: deleteProfilePicture
      summary: Remove the profile picture
      responses:
        '204':
          description: Removed
components:
  responses:
    Unauthorized:
      description: Unauthorized – Your OAuth/JWT token is missing or incorrect
    NotFound:
      description: Not Found – The specified path or resource does not exist
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from /v2/users/login, presented as "Authorization: Bearer JWT <token>".'
