openapi: 3.2.0
info:
  title: Tenfold Contact Lists API
  version: '2.0'
  description: Tenfold (a LivePerson company) is a computer-telephony integration (CTI) platform — the "Customer Experience Cloud" — that connects phone systems and contact-center platforms with CRM and support systems.
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
- url: https://api.tenfold.com
  description: Production
- url: https://api-canary.tenfold.com
  description: Beta / canary (subject to change without backward compatibility)
security:
- bearerJWT: []
- oauth2Password: []
tags:
- name: Contact Lists
  description: Contact list management (BETA)
paths:
  /v2/contact-lists:
    get:
      tags:
      - Contact Lists
      operationId: listContactLists
      summary: List the user's contact lists (BETA)
      responses:
        '200':
          description: Contact lists
    post:
      tags:
      - Contact Lists
      operationId: createContactList
      summary: Create a new contact list (BETA)
      responses:
        '201':
          description: List created
  /v2/contact-lists/{listId}:
    get:
      tags:
      - Contact Lists
      operationId: getContactList
      summary: Retrieve a specific contact list (BETA)
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Contact list
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Contact Lists
      operationId: updateContactList
      summary: Update a contact list (BETA)
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List updated
    delete:
      tags:
      - Contact Lists
      operationId: deleteContactList
      summary: Delete a contact list (BETA)
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: List deleted
  /v2/contact-lists/{listId}/contacts:
    post:
      tags:
      - Contact Lists
      operationId: addContactToList
      summary: Add a contact to a list (BETA)
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Contact added
  /v2/contact-lists/{listId}/contacts/{contactId}:
    delete:
      tags:
      - Contact Lists
      operationId: removeContactFromList
      summary: Remove a contact from a list (BETA)
      parameters:
      - name: listId
        in: path
        required: true
        schema:
          type: string
      - name: contactId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Contact removed
components:
  responses:
    NotFound:
      description: Not Found – The specified path or resource does not exist
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from /v2/users/login, presented as "Authorization: Bearer JWT <token>".'
