openapi: 3.2.0
info:
  title: Tenfold Tracking API
  version: '2.0'
  description: Tenfold (a LivePerson company) is a computer-telephony integration (CTI) platform — the "Customer Experience Cloud" — that connects phone systems and contact-center platforms with CRM and support systems.
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
- url: https://api.tenfold.com
  description: Production
- url: https://api-canary.tenfold.com
  description: Beta / canary (subject to change without backward compatibility)
security:
- bearerJWT: []
- oauth2Password: []
tags:
- name: Tracking
  description: Custom event tracking
paths:
  /v2/tracking:
    post:
      tags:
      - Tracking
      operationId: trackEvent
      summary: Track a custom event
      responses:
        '200':
          description: Event tracked
components:
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from /v2/users/login, presented as "Authorization: Bearer JWT <token>".'
