openapi: 3.2.0
info:
  title: Tenfold Organizations API
  version: '2.0'
  description: Tenfold (a LivePerson company) is a computer-telephony integration (CTI) platform — the "Customer Experience Cloud" — that connects phone systems and contact-center platforms with CRM and support systems.
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
- url: https://api.tenfold.com
  description: Production
- url: https://api-canary.tenfold.com
  description: Beta / canary (subject to change without backward compatibility)
security:
- bearerJWT: []
- oauth2Password: []
tags:
- name: Organizations
  description: Organization data and integration health
paths:
  /v2/organizations/{orgId}:
    get:
      tags:
      - Organizations
      operationId: getOrganization
      summary: Retrieve organization data
      parameters:
      - name: orgId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/organizations/health-check:
    get:
      tags:
      - Organizations
      operationId: getOrganizationHealthCheck
      summary: Check CRM / phone-system integration status
      responses:
        '200':
          description: Health status
components:
  responses:
    NotFound:
      description: Not Found – The specified path or resource does not exist
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from /v2/users/login, presented as "Authorization: Bearer JWT <token>".'
