openapi: 3.0.3
info:
  title: Tenfold Analytics Authentication API
  version: '2.0'
  description: Tenfold (a LivePerson company) is a computer-telephony integration (CTI) platform — the "Customer Experience Cloud" — that connects phone systems and contact-center platforms with CRM and support systems. The REST API lets you originate and query calls, control call recording, manage users and organizations, read and write CRM records, pull call analytics and transcripts, and manage contact lists. This specification was generated by the API Evangelist enrichment pipeline from the public documented endpoint reference at https://apidocs.tenfold.com/ — paths, methods, and summaries are transcribed from the docs; request/response schemas are intentionally generic (the provider does not publish an OpenAPI document).
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
- url: https://api.tenfold.com
  description: Production
- url: https://api-canary.tenfold.com
  description: Beta / canary (subject to change without backward compatibility)
security:
- bearerJWT: []
- oauth2Password: []
tags:
- name: Authentication
  description: OAuth 2.0 and JWT token issuance and authorization
paths:
  /api/v1/oauth/token:
    post:
      tags:
      - Authentication
      operationId: oauthTokenV1
      summary: Obtain or refresh OAuth tokens (v1)
      security: []
      responses:
        '200':
          description: Token issued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/oauth/token/create:
    post:
      tags:
      - Authentication
      operationId: createTokenForUser
      summary: Generate tokens for another user (admin)
      responses:
        '200':
          description: Token created
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/users/login:
    post:
      tags:
      - Authentication
      operationId: loginV2
      summary: JWT login with credentials
      security: []
      responses:
        '200':
          description: JWT issued
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/oauth/authorize:
    put:
      tags:
      - Authentication
      operationId: authorizeV2
      summary: Server-side application authorization
      responses:
        '200':
          description: Authorized
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/oauth/token:
    put:
      tags:
      - Authentication
      operationId: oauthTokenV2
      summary: Grant OAuth tokens via code or refresh token (v2)
      security: []
      responses:
        '200':
          description: Token issued
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    BadRequest:
      description: Bad Request – Your request failed
    Unauthorized:
      description: Unauthorized – Your OAuth/JWT token is missing or incorrect
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from /v2/users/login, presented as "Authorization: Bearer JWT <token>".'
