openapi: 3.0.3
info:
  title: Tenfold Analytics API
  version: '2.0'
  description: Tenfold (a LivePerson company) is a computer-telephony integration (CTI) platform — the "Customer Experience Cloud" — that connects phone systems and contact-center platforms with CRM and support systems. The REST API lets you originate and query calls, control call recording, manage users and organizations, read and write CRM records, pull call analytics and transcripts, and manage contact lists. This specification was generated by the API Evangelist enrichment pipeline from the public documented endpoint reference at https://apidocs.tenfold.com/ — paths, methods, and summaries are transcribed from the docs; request/response schemas are intentionally generic (the provider does not publish an OpenAPI document).
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
- url: https://api.tenfold.com
  description: Production
- url: https://api-canary.tenfold.com
  description: Beta / canary (subject to change without backward compatibility)
security:
- bearerJWT: []
- oauth2Password: []
tags:
- name: Analytics
  description: Call analytics, transcripts, keywords, and reports
paths:
  /v2/analytics/search:
    get:
      tags:
      - Analytics
      operationId: searchAnalytics
      summary: Search calls by query terms
      responses:
        '200':
          description: Search results
  /v2/analytics/users/{userId}/calls:
    get:
      tags:
      - Analytics
      operationId: getUserCalls
      summary: List a user's calls
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Calls
  /v2/analytics/calls/{callId}/transcript:
    get:
      tags:
      - Analytics
      operationId: getCallTranscript
      summary: Retrieve a call transcript
      parameters:
      - name: callId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transcript
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/analytics/calls/{callId}/keywords:
    get:
      tags:
      - Analytics
      operationId: getCallKeywords
      summary: Extract keywords from a call
      parameters:
      - name: callId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Keywords
  /v2/analytics/calls/{callId}/conversation:
    get:
      tags:
      - Analytics
      operationId: getCallConversation
      summary: Analyze conversation metrics for a call
      parameters:
      - name: callId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Conversation metrics
  /v2/analytics/calls/{callId}/errors:
    get:
      tags:
      - Analytics
      operationId: getCallErrors
      summary: List CRM errors for a call
      parameters:
      - name: callId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CRM errors
  /v2/analytics/users/{userId}:
    get:
      tags:
      - Analytics
      operationId: getUserAnalytics
      summary: User-level analytics data
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User analytics
  /v2/analytics/teams:
    get:
      tags:
      - Analytics
      operationId: getTeamsAnalytics
      summary: Analytics across all teams
      responses:
        '200':
          description: Teams analytics
  /v2/analytics/teams/{teamId}:
    get:
      tags:
      - Analytics
      operationId: getTeamAnalytics
      summary: Team-specific analytics
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Team analytics
  /v2/analytics/company:
    get:
      tags:
      - Analytics
      operationId: getCompanyAnalytics
      summary: Organization-wide analytics
      responses:
        '200':
          description: Company analytics
  /v2/analytics/reports/punch-card:
    post:
      tags:
      - Analytics
      operationId: createPunchCardReport
      summary: Generate a punch-card report
      responses:
        '200':
          description: Report
  /v2/analytics/reports/all-calls:
    post:
      tags:
      - Analytics
      operationId: createAllCallsReport
      summary: Generate an all-calls report
      responses:
        '200':
          description: Report
  /v2/analytics/reports/user-table:
    post:
      tags:
      - Analytics
      operationId: createUserTableReport
      summary: Generate a user-table report
      responses:
        '200':
          description: Report
  /v2/analytics/reports/call-history:
    post:
      tags:
      - Analytics
      operationId: createCallHistoryReport
      summary: Generate a call-history report
      responses:
        '200':
          description: Report
components:
  responses:
    NotFound:
      description: Not Found – The specified path or resource does not exist
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from /v2/users/login, presented as "Authorization: Bearer JWT <token>".'
