openapi: 3.2.0
info:
  title: Tenfold CRM Records API
  version: '2.0'
  description: Tenfold (a LivePerson company) is a computer-telephony integration (CTI) platform — the "Customer Experience Cloud" — that connects phone systems and contact-center platforms with CRM and support systems.
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
- url: https://api.tenfold.com
  description: Production
- url: https://api-canary.tenfold.com
  description: Beta / canary (subject to change without backward compatibility)
security:
- bearerJWT: []
- oauth2Password: []
tags:
- name: CRM Records
  description: Create, edit, and query CRM records and interactions
paths:
  /v1/crm/record:
    put:
      tags:
      - CRM Records
      operationId: editCrmRecordV1
      summary: Edit a CRM record (v1)
      responses:
        '200':
          description: Record edited
        '400':
          $ref: '#/components/responses/BadRequest'
  /v2/crm/records:
    post:
      tags:
      - CRM Records
      operationId: createCrmRecord
      summary: Create a new CRM record
      responses:
        '201':
          description: Record created
        '400':
          $ref: '#/components/responses/BadRequest'
  /v2/crm/records/{recordId}:
    put:
      tags:
      - CRM Records
      operationId: updateCrmRecord
      summary: Update a CRM record
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Record updated
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/crm/records/{recordId}/remove-number:
    delete:
      tags:
      - CRM Records
      operationId: removeCrmRecordNumber
      summary: Remove a phone number from a CRM record
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Number removed
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/crm/records/{recordId}/last-interaction:
    get:
      tags:
      - CRM Records
      operationId: getCrmRecordLastInteraction
      summary: Fetch the most recent interaction for a record
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Last interaction
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/crm/records/{recordId}/active-interaction:
    get:
      tags:
      - CRM Records
      operationId: getCrmRecordActiveInteraction
      summary: Get the current active interaction for a record
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Active interaction
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Not Found – The specified path or resource does not exist
    BadRequest:
      description: Bad Request – Your request failed
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from /v2/users/login, presented as "Authorization: Bearer JWT <token>".'
