openapi: 3.0.3
# generated: '2026-07-21'
# method: generated
# source: https://apidocs.tenfold.com/ (documented endpoint reference; faithfully transcribed paths/methods/summaries)
info:
  title: Tenfold API
  version: '2.0'
  description: >-
    Tenfold (a LivePerson company) is a computer-telephony integration (CTI)
    platform — the "Customer Experience Cloud" — that connects phone systems and
    contact-center platforms with CRM and support systems. The REST API lets you
    originate and query calls, control call recording, manage users and
    organizations, read and write CRM records, pull call analytics and
    transcripts, and manage contact lists. This specification was generated by
    the API Evangelist enrichment pipeline from the public documented endpoint
    reference at https://apidocs.tenfold.com/ — paths, methods, and summaries are
    transcribed from the docs; request/response schemas are intentionally generic
    (the provider does not publish an OpenAPI document).
  contact:
    name: Tenfold Support
    url: https://docs.tenfold.com/
  x-api-evangelist:
    generated: true
    source: https://apidocs.tenfold.com/
servers:
  - url: https://api.tenfold.com
    description: Production
  - url: https://api-canary.tenfold.com
    description: Beta / canary (subject to change without backward compatibility)
tags:
  - name: Authentication
    description: OAuth 2.0 and JWT token issuance and authorization
  - name: Calls
    description: Originate, query, control, and update calls
  - name: Users
    description: Users, current-user profile, and settings
  - name: Organizations
    description: Organization data and integration health
  - name: CRM Records
    description: Create, edit, and query CRM records and interactions
  - name: Analytics
    description: Call analytics, transcripts, keywords, and reports
  - name: Tracking
    description: Custom event tracking
  - name: Contact Lists
    description: Contact list management (BETA)
components:
  securitySchemes:
    oauth2Password:
      type: oauth2
      description: OAuth 2.0 Resource Owner Password Credentials grant (v1/v2)
      flows:
        password:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    oauth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials grant
      flows:
        clientCredentials:
          tokenUrl: https://api.tenfold.com/v2/oauth/token
          scopes: {}
    bearerJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        JWT access token obtained from /v2/users/login, presented as
        "Authorization: Bearer JWT <token>".
  parameters:
    page:
      name: page
      in: query
      required: false
      description: Zero-based page index.
      schema:
        type: integer
        default: 0
    pageSize:
      name: pageSize
      in: query
      required: false
      description: Page size (v2 max 500).
      schema:
        type: integer
        default: 50
        maximum: 500
  responses:
    BadRequest:
      description: Bad Request – Your request failed
    Unauthorized:
      description: Unauthorized – Your OAuth/JWT token is missing or incorrect
    NotFound:
      description: Not Found – The specified path or resource does not exist
    MethodNotAllowed:
      description: Method Not Allowed
    ServerError:
      description: Internal Server Error
    ServiceUnavailable:
      description: Service Unavailable
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
    Call:
      type: object
      description: A telephone call record.
    User:
      type: object
      description: A Tenfold user account.
    Organization:
      type: object
      description: A Tenfold organization.
    CrmRecord:
      type: object
      description: A CRM record linked to Tenfold.
    ContactList:
      type: object
      description: A user contact list (BETA).
security:
  - bearerJWT: []
  - oauth2Password: []
paths:
  /api/v1/oauth/token:
    post:
      tags: [Authentication]
      operationId: oauthTokenV1
      summary: Obtain or refresh OAuth tokens (v1)
      security: []
      responses:
        '200': { description: Token issued }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/oauth/token/create:
    post:
      tags: [Authentication]
      operationId: createTokenForUser
      summary: Generate tokens for another user (admin)
      responses:
        '200': { description: Token created }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/users/login:
    post:
      tags: [Authentication]
      operationId: loginV2
      summary: JWT login with credentials
      security: []
      responses:
        '200': { description: JWT issued }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/oauth/authorize:
    put:
      tags: [Authentication]
      operationId: authorizeV2
      summary: Server-side application authorization
      responses:
        '200': { description: Authorized }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/oauth/token:
    put:
      tags: [Authentication]
      operationId: oauthTokenV2
      summary: Grant OAuth tokens via code or refresh token (v2)
      security: []
      responses:
        '200': { description: Token issued }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/v1/calls/originate:
    post:
      tags: [Calls]
      operationId: originateCallV1
      summary: Initiate an outbound call (v1)
      responses:
        '200': { description: Call originated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/calls:
    get:
      tags: [Calls]
      operationId: listCallsV1
      summary: List all calls, paginated (v1)
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200': { description: A page of calls }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/v1/calls/{callId}:
    get:
      tags: [Calls]
      operationId: getCallV1
      summary: Retrieve a specific call (v1)
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Call details }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/calls/{callId}/startRecording:
    post:
      tags: [Calls]
      operationId: startRecordingV1
      summary: Enable call recording (v1)
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Recording started }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/calls/{callId}/stopRecording:
    post:
      tags: [Calls]
      operationId: stopRecordingV1
      summary: Disable call recording (v1)
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Recording stopped }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/calls/{callId}/hangup:
    post:
      tags: [Calls]
      operationId: hangupCallV1
      summary: Terminate an active call (v1)
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Call terminated }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/calls:
    get:
      tags: [Calls]
      operationId: listCalls
      summary: List calls with enhanced filtering (v2)
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200': { description: A page of calls }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/calls/{callId}:
    get:
      tags: [Calls]
      operationId: getCall
      summary: Get call details (v2)
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Call details }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Calls]
      operationId: updateCall
      summary: Update a call (notes, CRM record)
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Call updated }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/calls/{callId}/set-matching-record:
    put:
      tags: [Calls]
      operationId: setMatchingRecord
      summary: Link a CRM record to a call
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Record linked }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/calls/{callId}/transfer-history:
    get:
      tags: [Calls]
      operationId: getCallTransferHistory
      summary: Retrieve call transfer history
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Transfer history }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/users:
    get:
      tags: [Users]
      operationId: listUsersV1
      summary: List organization users (v1)
      responses:
        '200': { description: Users }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/users:
    get:
      tags: [Users]
      operationId: listUsers
      summary: List users in the current organization (v2)
      responses:
        '200': { description: Users }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/users/{userId}:
    get:
      tags: [Users]
      operationId: getUser
      summary: Get a specific user account
      parameters:
        - { name: userId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: User }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/users/me:
    get:
      tags: [Users]
      operationId: getCurrentUser
      summary: Fetch own user profile
      responses:
        '200': { description: Current user }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v2/users/me/settings:
    get:
      tags: [Users]
      operationId: getUserSettings
      summary: Retrieve current-user settings
      responses:
        '200': { description: Settings }
    put:
      tags: [Users]
      operationId: updateUserSettings
      summary: Update current-user settings
      responses:
        '200': { description: Settings updated }
  /v2/users/me/profile-picture:
    post:
      tags: [Users]
      operationId: uploadProfilePicture
      summary: Upload a profile photo
      responses:
        '200': { description: Uploaded }
    delete:
      tags: [Users]
      operationId: deleteProfilePicture
      summary: Remove the profile picture
      responses:
        '204': { description: Removed }
  /v2/organizations/{orgId}:
    get:
      tags: [Organizations]
      operationId: getOrganization
      summary: Retrieve organization data
      parameters:
        - { name: orgId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Organization }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/organizations/health-check:
    get:
      tags: [Organizations]
      operationId: getOrganizationHealthCheck
      summary: Check CRM / phone-system integration status
      responses:
        '200': { description: Health status }
  /v1/crm/record:
    put:
      tags: [CRM Records]
      operationId: editCrmRecordV1
      summary: Edit a CRM record (v1)
      responses:
        '200': { description: Record edited }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v2/crm/records:
    post:
      tags: [CRM Records]
      operationId: createCrmRecord
      summary: Create a new CRM record
      responses:
        '201': { description: Record created }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v2/crm/records/{recordId}:
    put:
      tags: [CRM Records]
      operationId: updateCrmRecord
      summary: Update a CRM record
      parameters:
        - { name: recordId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Record updated }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/crm/records/{recordId}/remove-number:
    delete:
      tags: [CRM Records]
      operationId: removeCrmRecordNumber
      summary: Remove a phone number from a CRM record
      parameters:
        - { name: recordId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Number removed }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/crm/records/{recordId}/last-interaction:
    get:
      tags: [CRM Records]
      operationId: getCrmRecordLastInteraction
      summary: Fetch the most recent interaction for a record
      parameters:
        - { name: recordId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Last interaction }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/crm/records/{recordId}/active-interaction:
    get:
      tags: [CRM Records]
      operationId: getCrmRecordActiveInteraction
      summary: Get the current active interaction for a record
      parameters:
        - { name: recordId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Active interaction }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/analytics/search:
    get:
      tags: [Analytics]
      operationId: searchAnalytics
      summary: Search calls by query terms
      responses:
        '200': { description: Search results }
  /v2/analytics/users/{userId}/calls:
    get:
      tags: [Analytics]
      operationId: getUserCalls
      summary: List a user's calls
      parameters:
        - { name: userId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Calls }
  /v2/analytics/calls/{callId}/transcript:
    get:
      tags: [Analytics]
      operationId: getCallTranscript
      summary: Retrieve a call transcript
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Transcript }
        '404': { $ref: '#/components/responses/NotFound' }
  /v2/analytics/calls/{callId}/keywords:
    get:
      tags: [Analytics]
      operationId: getCallKeywords
      summary: Extract keywords from a call
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Keywords }
  /v2/analytics/calls/{callId}/conversation:
    get:
      tags: [Analytics]
      operationId: getCallConversation
      summary: Analyze conversation metrics for a call
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Conversation metrics }
  /v2/analytics/calls/{callId}/errors:
    get:
      tags: [Analytics]
      operationId: getCallErrors
      summary: List CRM errors for a call
      parameters:
        - { name: callId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: CRM errors }
  /v2/analytics/users/{userId}:
    get:
      tags: [Analytics]
      operationId: getUserAnalytics
      summary: User-level analytics data
      parameters:
        - { name: userId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: User analytics }
  /v2/analytics/teams:
    get:
      tags: [Analytics]
      operationId: getTeamsAnalytics
      summary: Analytics across all teams
      responses:
        '200': { description: Teams analytics }
  /v2/analytics/teams/{teamId}:
    get:
      tags: [Analytics]
      operationId: getTeamAnalytics
      summary: Team-specific analytics
      parameters:
        - { name: teamId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Team analytics }
  /v2/analytics/company:
    get:
      tags: [Analytics]
      operationId: getCompanyAnalytics
      summary: Organization-wide analytics
      responses:
        '200': { description: Company analytics }
  /v2/analytics/reports/punch-card:
    post:
      tags: [Analytics]
      operationId: createPunchCardReport
      summary: Generate a punch-card report
      responses:
        '200': { description: Report }
  /v2/analytics/reports/all-calls:
    post:
      tags: [Analytics]
      operationId: createAllCallsReport
      summary: Generate an all-calls report
      responses:
        '200': { description: Report }
  /v2/analytics/reports/user-table:
    post:
      tags: [Analytics]
      operationId: createUserTableReport
      summary: Generate a user-table report
      responses:
        '200': { description: Report }
  /v2/analytics/reports/call-history:
    post:
      tags: [Analytics]
      operationId: createCallHistoryReport
      summary: Generate a call-history report
      responses:
        '200': { description: Report }
  /v2/tracking:
    post:
      tags: [Tracking]
      operationId: trackEvent
      summary: Track a custom event
      responses:
        '200': { description: Event tracked }
  /v2/contact-lists:
    get:
      tags: [Contact Lists]
      operationId: listContactLists
      summary: List the user's contact lists (BETA)
      responses:
        '200': { description: Contact lists }
    post:
      tags: [Contact Lists]
      operationId: createContactList
      summary: Create a new contact list (BETA)
      responses:
        '201': { description: List created }
  /v2/contact-lists/{listId}:
    get:
      tags: [Contact Lists]
      operationId: getContactList
      summary: Retrieve a specific contact list (BETA)
      parameters:
        - { name: listId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Contact list }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Contact Lists]
      operationId: updateContactList
      summary: Update a contact list (BETA)
      parameters:
        - { name: listId, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: List updated }
    delete:
      tags: [Contact Lists]
      operationId: deleteContactList
      summary: Delete a contact list (BETA)
      parameters:
        - { name: listId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: List deleted }
  /v2/contact-lists/{listId}/contacts:
    post:
      tags: [Contact Lists]
      operationId: addContactToList
      summary: Add a contact to a list (BETA)
      parameters:
        - { name: listId, in: path, required: true, schema: { type: string } }
      responses:
        '201': { description: Contact added }
  /v2/contact-lists/{listId}/contacts/{contactId}:
    delete:
      tags: [Contact Lists]
      operationId: removeContactFromList
      summary: Remove a contact from a list (BETA)
      parameters:
        - { name: listId, in: path, required: true, schema: { type: string } }
        - { name: contactId, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Contact removed }
